<%- include("templates/_header") %>

<body>
  
  <%- include("templates/_navbar") %>
  

  <%- include("templates/_sidebar") %>

  <main id="main" class="main">

    <div class="pagetitle mb-4">
      <h1>Sade Dental Departments</h1>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <h5 class="card-title">Departments</h5>
              </div>
              <div class="col-md-6 ">
                <h5 class="card-title d-flex justify-content-end mx-3">
                  <a data-bs-target="#addDepartment" data-bs-toggle="modal" class="btn btn-outline-success text-dark">
                    <i class="bi bi-plus"></i>
                    Add Deparment!
                  </a>
                </h5>
              </div>
            </div>

            <!-- Table with stripped rows -->
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">Department ID</th>
                  <th scope="col">Department Photo</th>
                  <th scope="col">Department Name</th>
                  <th scope="col">Department About</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td><img src="./assets/img/profile-img.jpg" alt="" width="80px"></td>
                  <td></td>
                  <td></td>
                  <td>
                    <a data-bs-target="#updateDepartmentID" data-bs-toggle="modal" class="btn btn-outline-warning">
                      <i class="bi bi-pen"></i>
                    </a>
                    <a class="btn btn-outline-danger">
                      <i class="bi bi-trash3"></i>
                    </a>
                  </td>
                </tr>
                 <!-- UPDATE Department -->
                <div class="modal fade" id="updateDepartmentID" tabindex="-1">
                  <div class="modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title">New Department</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <form action="">
                          <div class="form-group">
                            <input type="text" class="form-control" placeholder="Department Name" maxlength="11">
                          </div>
                          <div class="form-group mt-3">
                            <textarea name="" id="" class="form-control" placeholder="Department About"></textarea>
                          </div>
                        </form>
                      </div>
                      <div class="modal-footer">
                        <button type="submit" class="btn btn-outline-success mx-2">Save!</button>
                        <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Close!</button>
                      </div>
                    </div>
                  </div>
                </div>
              </tbody>
            </table>
            <!-- End Table with stripped rows -->

          </div>
        </div>
      </div>
    </section>

  </main><!-- End #main -->

  <!-- ADD Department -->
  <div class="modal fade" id="addDepartment" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">New Department</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Department Name" maxlength="11">
            </div>
            <div class="form-group mt-3">
              <input type="file" class="form-control">
              <small>Department Photo</small>
            </div>
            <div class="form-group mt-3">
              <textarea name="" id="" class="form-control" placeholder="Department About"></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-outline-success mx-2">Save!</button>
          <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Close!</button>
        </div>
      </div>
    </div>
  </div>

  <%- include("templates/_footer") %>
 
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  
  <%- include("templates/_script") %>
 </body>
 
 </html>