<%- include("templates/_header") %>

<body>
  
  <%- include("templates/_navbar") %>
  

  <%- include("templates/_sidebar") %>


  <main id="main" class="main">

    <div class="row">
      <div class="col-md-4">
        <% if(flashMessages) { %>
          <% if(flashMessages.success) { %>
            <div class="alert alert-success">
              <%= flashMessages.success %> 
            </div>
          <% } %>
        <% } %>
      </div>
    </div>

    <div class="pagetitle mb-4">
      <h1>Sade Dental Doctors</h1>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <h5 class="card-title">Doctors</h5>
              </div>
              <div class="col-md-6 ">
                <h5 class="card-title d-flex justify-content-end mx-3">
                  <a data-bs-target="#addDoctor" data-bs-toggle="modal" class="btn btn-outline-success text-dark">
                    <i class="bi bi-plus"></i>
                    Add Doctor!
                  </a>
                </h5>
              </div>
            </div>

            <!-- Table with stripped rows -->
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">Doctor TC</th>
                  <th scope="col">Doctor Photo</th>
                  <th scope="col">Doctor Name</th>
                  <th scope="col">Doctor Department</th>
                  <th scope="col">Doctor Phone</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <% for(let i=0; i < doctors.length; i++) { %>
                <tr>
                  <th scope="row"><%= doctors[i].doctorTC %></th>
                  <td><img src="<%= doctors[i].photo %>" alt="" width="80px"></td>
                  <td><%= doctors[i].firstName %> <%= doctors[i].lastName %></td>
                  <td><%= doctors[i].department.name %></td>
                  <td><%= doctors[i].phone %></td>
                  <td>
                    <a data-bs-target="#updateDoctor<%= doctors[i]._id %>" data-bs-toggle="modal" class="btn btn-outline-warning">
                      <i class="bi bi-pen"></i>
                    </a>
                    <a href="/doctors/<%= doctors[i]._id %>?_method=DELETE" class="btn btn-outline-danger">
                      <i class="bi bi-trash3"></i>
                    </a>
                  </td>
                </tr>

                <!-- UPDATE DOCTOR -->
               <div class="modal fade" id="updateDoctor<%= doctors[i]._id %>" tabindex="-1">
                 <div class="modal-dialog modal-dialog-centered modal-lg">
                   <div class="modal-content">
                     <div class="modal-header">
                       <h5 class="modal-title">Update Doctor</h5>
                       <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                     </div>
                     <div class="modal-body">
                       <form method="POST" action="/doctors/<%= doctors[i]._id %>?_method=PUT">
                         <div class="form-group mt-3">
                           <div class="row">
                             <div class="col-sm-4">
                               <input type="text" class="form-control" name="firstName" placeholder="Doctor First Name" value="<%= doctors[i].firstName %>">
                             </div>
                             <div class="col-sm-4">
                               <input type="text" class="form-control" name="lastName" placeholder="Doctor Last Name" value="<%= doctors[i].lastName%>">
                             </div>
                             <div class="col-sm-4">
                               <input type="text" class="form-control" name="phone" placeholder="Doctor Phone" maxlength="10" value="<%= doctors[i].phone %>">
                             </div>
                           </div>
                         </div>
                         <div class="form-group mt-3">
                           <select class="form-select" name="department" id="">
                           </select>
                         </div>
                         <div class="form-group mt-3">
                          <div class="row">
                            <div class="col-sm-10">
                              <input type="file" name="photo" class="form-control" value="<% doctors[i].photo %>" disabled>
                              <small>Doctor Photo</small>
                            </div>
                            <div class="col-sm-2">
                              <img src="<%= doctors[i].photo %>" alt="" width="80px">
                            </div>
                          </div>
                        </div>
                         <div class="form-group mt-3">
                           <textarea name="about" id="" class="form-control" placeholder="Doctor About"><%= doctors[i].about %></textarea>
                         </div>
                         <div class="form-group mt-3">
                           <div class="row">
                             <div class="col-sm-6">
                               <input type="text" class="form-control" name="linkedinURL" placeholder="Doctor Linkedin" value="<%= doctors[i].linkedinURL %>">
                               <small>www.linkedin.com/in/...</small>
                             </div>
                             <div class="col-sm-6">
                               <input type="text" class="form-control" name="instagramURL" placeholder="Doctor Instagram" value="<%= doctors[i].instagramURL %>">
                               <small>www.instagram.com/...</small>
                             </div>
                           </div>
                         </div>

                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Close!</button>
                          <button type="submit" class="btn btn-outline-success mx-2">Save!</button>
                        </div>
                      </form>
                   </div>
                 </div>
               </div>

                <% } %>
              </tbody>
            </table>
            <!-- End Table with stripped rows -->

          </div>
        </div>
      </div>
    </section>

  </main><!-- End #main -->

  <!-- ADD DOCTOR -->
  <div class="modal fade" id="addDoctor" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">New Doctor</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="POST" action="/doctors" enctype="multipart/form-data">
            <div class="form-group">
              <input type="text" class="form-control" name="doctorTC" placeholder="Doctor TC" maxlength="11" required>
            </div>
            <div class="form-group mt-3">
              <div class="row">
                <div class="col-sm-4">
                  <input type="text" class="form-control" name="firstName" placeholder="Doctor First Name">
                </div>
                <div class="col-sm-4">
                  <input type="text" class="form-control" name="lastName" placeholder="Doctor Last Name">
                </div>
                <div class="col-sm-4">
                  <input type="text" class="form-control" name="phone" placeholder="Doctor Phone" maxlength="10">
                </div>
              </div>
            </div>
            <div class="form-group mt-3">
              <select class="form-select" name="department" id="">
                <% for(let i = 0; i < departments.length; i++) { %>
                  <option value="<%= departments[i]._id %>"><%= departments[i].name %></option>
                <% } %>
              </select>
            </div>
            <div class="form-group mt-3">
              <input type="file" name="photo" class="form-control" required>
              <small>Doctor Photo</small>
            </div>
            <div class="form-group mt-3">
              <textarea name="about" id="" class="form-control" placeholder="Doctor About"></textarea>
            </div>
            <div class="form-group mt-3">
              <div class="row">
                <div class="col-sm-6">
                  <input type="text" name="linkedinURL" class="form-control" placeholder="Doctor Linkedin">
                  <small>www.linkedin.com/in/...</small>
                </div>
                <div class="col-sm-6">
                  <input type="text" name="instagramURL" class="form-control" placeholder="Doctor Instagram">
                  <small>www.instagram.com/...</small>
                </div>
              </div>
            </div>
            <div class="form-group mt-3">
              <div class="row">
                <div class="col-sm-6">
                  <input type="email" name="email" class="form-control" placeholder="Doctor Email">
                </div>
                <div class="col-sm-6">
                  <input type="password" name="password" class="form-control" placeholder="Doctor Password">
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Close!</button>
            <button type="submit" class="btn btn-outline-success mx-2">Save!</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <%- include("templates/_footer") %>
 
 <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
 
 <%- include("templates/_script") %>
</body>

</html>