<%- include("templates/_header") %>

<body>
  
  <%- include("templates/_navbar") %>
  

  <%- include("templates/_sidebar") %>

  <main id="main" class="main">

    <div class="pagetitle mb-4">
      <h1>Sade Dental FAQ's</h1>
    </div><!-- End Page Title -->
  
    <section class="section">
      <div class="row">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <h5 class="card-title">FAQ's</h5>
              </div>
              <div class="col-md-6 ">
                <h5 class="card-title d-flex justify-content-end mx-3">
                  <a data-bs-target="#addQuestion" data-bs-toggle="modal" class="btn btn-outline-success text-dark">
                    <i class="bi bi-plus"></i>
                    Add Question!
                  </a>
                </h5>
              </div>
            </div>
  
            <!-- Table with stripped rows -->
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">Question</th>
                  <th scope="col">Answer</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <% for(let i = 0; i < faqs.length; i++) { %>
                <tr>
                  <td><%= faqs[i].question %></td>
                  <td>
                    <div class="row">
                      <div class="col-md-10">
                        <%= faqs[i].answer.substring(0,100) + "..." %>
                      </div>
                      <div class="col-md-2">
                        <a data-bs-target="#answer<%= faqs[i]._id %>" data-bs-toggle="modal" class="btn btn-outline-dark float-right"><i class="bi bi-envelope-open"></i></a>
                      </div>
                    </div>
                  </td>
                  <td>
                    <a href="/faqs/<%= faqs[i]._id %>?_method=DELETE" class="btn btn-outline-danger">
                      <i class="bi bi-trash3"></i>
                    </a>
                  </td>
                </tr>
                <!-- SEE ANSWER -->
                <div class="modal fade" id="answer<%= faqs[i]._id %>" tabindex="-1">
                  <div class="modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title">Full Answer</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <textarea class="form-control" rows="7" readonly><%= faqs[i].answer %></textarea>   
                      </div>                
                      <div class="modal-footer">
                        <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Close!</button>
                      </div>
                    </div>
                  </div>
                </div>
                 <% } %>
              </tbody>
            </table>
            <!-- End Table with stripped rows -->
  
          </div>
        </div>
      </div>
    </section>
  
  </main><!-- End #main -->
  
  <!-- ADD QUESTION -->
  <div class="modal fade" id="addQuestion" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add Question</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="/faqs" method="POST">
            <div class="form-group">
              <input type="text" class="form-control" name="question" placeholder="Question">
            </div>
            <div class="form-group mt-3">
              <textarea name="answer" id="" class="form-control" rows="4" placeholder="Answer"></textarea>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-outline-success mx-2">Save!</button>
            <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Close!</button>
          </div>
        </form>
      </div>
    </div>
  </div>

 <%- include("templates/_footer") %>
 
 <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
 
 <%- include("templates/_script") %>
  

</body>

</html>

