<%- include("templates/_header") %>

<body>

  <%- include("templates/_navbar") %>

  <main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <img src="<%= doctor.photo %>" width="80px" alt="">
          <h2><%= doctor.firstName %> <%= doctor.lastName %></h2>
          <ol>
            <li><a data-bs-target="#updateInfo" data-bs-toggle="modal" class="btn btn-outline-primary">Update Info!</a></li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs Section -->

    <section class="inner-page">
      <div class="container">
          <div class="row">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-6">
                    <h5 class="card-title">Appointments</h5>
                  </div>
                  <div class="col-md-6 ">
                    <h5 class="card-title d-flex justify-content-end mx-3">
                      <a onclick="sortTableDate()" class="btn btn-outline-primary mx-2">
                        Sort Date
                      </a>
                      <a data-bs-target="#pastAppo" data-bs-toggle="modal" class="btn btn-outline-warning">
                        <i class="bi bi-balloon text-dark"></i>
                        Past Appointments
                      </a>
                    </h5>
                  </div>
                </div>
    
                <!-- Table with stripped rows -->
                <table id="appointmentsTable" class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">Patient TC</th>
                      <th scope="col">Patient Name</th>
                      <th scope="col">Patient Contact</th>
                      <th scope="col">Appointment Date</th>
                      <th scope="col">Appointment Time</th>
                      <th scope="col">Appointment Status</th>
                      <th scope="col">Appointment Message</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% for(let i = 0; i < appointments.length; i++) { %>
                      <% if(appointments[i].appoDate >= Date.now()) { %>
                      <tr>
                        <th scope="row"><%= appointments[i].patientTC %></th>
                        <td><%= appointments[i].patientName %></td>
                        <td><%= appointments[i].patientPhone%></td>
                        <td><%= appointments[i].appoDate.getDate() %>.<%= appointments[i].appoDate.getMonth()+1 %>.<%= appointments[i].appoDate.getFullYear() %></td>
                        <td><%= appointments[i].appoTime %></td>
                        <td>
                          <form method="post" action="/appointments/<%= appointments[i]._id %>?_method=PUT">
                            <div class="form-group">
                              <div class="row">

                              
                              <div class="col-md-9">
                                <select name="status" id="" class="form-select">
                                  <option value=" <%= appointments[i].status %>"> <%= appointments[i].status %></option>
                                  <option value="approved">approved</option>
                                  <option value="cancelled">cancelled</option>
                                  <option value="disapproved">disapproved</option>
                                  <option value="expired">expired</option>
                                  <option value="pending">pending</option>
                                </select>
                              </div>
                              <div class="col-md-3">
                                <button type="submit" class="btn btn-outline-success btn-sm"><i class="bi bi-recycle"></i></button>
                              </div>
                            </div>
                          </div>
                        </form>
                      </td>
                      <td><a data-bs-target="#appoMessage<%= appointments[i]._id %>" data-bs-toggle="modal" class="btn btn-outline-dark d-flex justify-content-center"><i class="bi bi-envelope"></i></a></td>
                    </tr>
                    <!-- APPOINTMENT MESSAGE -->
                    <div class="modal fade" id="appoMessage<%= appointments[i]._id %>" tabindex="-1">
                     <div class="modal-dialog modal-dialog-centered modal-lg">
                       <div class="modal-content" >
                         <div class="modal-header">
                           <h5 class="modal-title"><%= appointments[i].patientName %></h5>
                           <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                         </div>
                         <div class="modal-body">
                           <textarea cols="30" rows="3" class="form-control" disabled><%= appointments[i].patientMessage %></textarea>
                         </div>
                         <div class="modal-footer">
                           <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Close!</button>
                         </div>
                       </div>
                     </div>
                   </div>
                    <% } %>
                    <% } %>
                  </tbody>
                </table>
                <!-- End Table with stripped rows -->
    
              </div>
            </div>
          </div>
      </div>
    </section>

  </main><!-- End #main -->

 <%- include("templates/_footer") %>
 
 <div id="preloader"></div>
 <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

 <!-- PAST APPOINTMENTS -->
 <div class="modal fade" id="pastAppo" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-lg" style="--bs-modal-width:1320px">
    <div class="modal-content" >
      <div class="modal-header">
        <h5 class="modal-title">Past Appointments</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Table with stripped rows -->
        <table id="appointmentsTable" class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Patient TC</th>
              <th scope="col">Patient Name</th>
              <th scope="col">Patient Contact</th>
              <th scope="col">Appointment Date</th>
              <th scope="col">Appointment Time</th>
              <th scope="col">Appointment Status</th>
              
            </tr>
          </thead>
          <tbody>
            <% for(let i = 0; i < appointments.length; i++) { %>
              <% if(appointments[i].appoDate < Date.now()) { %>
              <tr>
                <th scope="row"><%= appointments[i].patientTC %></th>
                <td><%= appointments[i].patientName %></td>
                <td><%= appointments[i].patientPhone%></td>
                <td><%= appointments[i].appoDate.getDate() %>.<%= appointments[i].appoDate.getMonth()+1 %>.<%= appointments[i].appoDate.getFullYear() %></td>
                <td><%= appointments[i].appoTime %></td>
                <td><%= appointments[i].status %></td>
            </tr>
        
            <% } %>
            <% } %>
          </tbody>
        </table>
        <!-- End Table with stripped rows -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Close!</button>
      </div>
    </div>
  </div>
</div>

<!-- UPDATE INFO -->
<div class="modal fade" id="updateInfo" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content" >
      <div class="modal-header">
        <h5 class="modal-title">Update Your Info!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="">
          <div class="form-group mt-3">
            <div class="row">
              <div class="col-sm-4">
                <input type="text" class="form-control" placeholder="Doctor First Name" value="<%= doctor.firstName %>">
              </div>
              <div class="col-sm-4">
                <input type="text" class="form-control" placeholder="Doctor First Name" value="<%= doctor.lastName %>">
              </div>
              <div class="col-sm-4">
                <input type="text" class="form-control" placeholder="Doctor Phone" value="<%= doctor.phone %>" maxlength="10">
              </div>
            </div>
          </div>
       
          <div class="form-group mt-3">
            <input type="file" class="form-control">
            <small>Doctor Photo</small>
          </div>
          <div class="form-group mt-3">
            <textarea name="" id="" class="form-control" placeholder="Doctor About"><%= doctor.about %></textarea>
          </div>
          <div class="form-group mt-3">
            <div class="row">
              <div class="col-sm-6">
                <input type="text" class="form-control" placeholder="Doctor Linkedin" value="<%= doctor.linkedinmURL %>">
                <small>www.linkedin.com/in/...</small>
              </div>
              <div class="col-sm-6">
                <input type="text" class="form-control" placeholder="Doctor Instagram" value="<%= doctor.instagramURL %>">
                <small>www.instagram.com/...</small>
              </div>
            </div>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Close!</button>
      </div>
    </div>
  </div>
</div>
 
 
 <%- include("templates/_script") %>
 <script>
   function sortTableDate() {
              const table = document.getElementById("appointmentsTable");
              const tbody = table.getElementsByTagName("tbody")[0];
              const rows = tbody.getElementsByTagName("tr");
            
              const sortedRows = Array.from(rows).sort((a, b) => {
                const aName = a.getElementsByTagName("td")[3].textContent;
                const bName = b.getElementsByTagName("td")[3].textContent;
                return aName.localeCompare(bName);
              });
            
              for (let i = 0; i < sortedRows.length; i++) {
                tbody.appendChild(sortedRows[i]);
              }
            }
 </script>

</body>

</html>